<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                data: { turbo: false } # turbo: false to disable turbo:frame-content
    %>
  </div>

  <%= render @quotes %>
</main>
